<ul class="container-fluid list-inline d-none d-md-inline-block d-md-flex justify-content-center text-center">
  <li class="list-inline-item" *ngFor="let route of routerMapping | keyvalue:onCompare">
    <h5 class="d-flex justify-content-center">
      <a class="btn" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" routerLink="{{route.key}}"><fa-icon [icon]="route.value.icon"></fa-icon> {{route.value.text}}</a>
    </h5>
  </li>
  <li class="list-inline-item" *ngIf="showLogout()">
    <h5 class="d-flex justify-content-center">
      <a class="btn" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" (click)="logout()"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</a>
    </h5>
  </li>
</ul>
<div class="dropdown show d-md-none w-100">
  <button class="btn dropdown-toggle w-100 mb-2" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" type="button" id="dropdownLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose A Page!</button>
  <div class="dropdown-menu" aria-labelledby="dropdownLink">
      <a class="dropdown-item" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" *ngFor="let route of routerMapping | keyvalue:onCompare" routerLink="{{route.key}}"><fa-icon [icon]="route.value.icon"></fa-icon> {{route.value.text}}</a>
      <a class="dropdown-item" [ngClass]="{'btn-outline-light': linkColor === 'light', 'btn-outline-secondary': linkColor !== 'light'}" (click)="logout()" *ngIf="showLogout()"><fa-icon [icon]="faSignOutAlt"></fa-icon> Logout</a>
  </div>
</div>
