@if (!isLoading) {
  <div class="container-fluid row align-items-start">
    <a (click)="toggleExpandToDo()" aria-controls="toDoCollapse" aria-expanded="false" data-bs-toggle="collapse"
      href="#toDoCollapse">
      <h5 class="col-12">
        @if (expandToDo) {
          <fa-icon [icon]="faAngleDown"></fa-icon>
        }
        @if (!expandToDo) {
          <fa-icon [icon]="faAngleRight"></fa-icon>
        }
        {{ listTitle }}
      </h5>
    </a>
    <ul class="col-12 list-group list-group-flush collapse show border-top" id="toDoCollapse">
      @for (plannerEvent of toDoEvents; track plannerEvent) {
        <li class="list-group-item">
          <app-list-item (itemToDelete)="onDelete($event)" (itemToEdit)="onEdit($event)"
          (itemToUpdate)="onComplete($event)" [plannerEvent]="plannerEvent"></app-list-item>
        </li>
      }
      <li class="list-group-item">
        <form>
          <div class="input-group pt-3">
            <input [(ngModel)]="newEvent.title" autocomplete="off" class="form-control form-control-sm"
              name="new-event-title" placeholder="New Event Title" type="text"/>
          </div>
          @if (newEvent.title) {
            <div class="input-group pt-3">
              <textarea [(ngModel)]="newEvent.description" autocomplete="off" class="form-control form-control-sm"
              name="new-event-desc" placeholder="New Event Description" rows="2"></textarea>
            </div>
          }
          <div class="input-group pt-3">
            @if (newEvent.title) {
              <button (click)="saveNewEvent()" class="btn btn-outline-primary">Save
              </button>
            }
          </div>
        </form>
      </li>
    </ul>
    <a (click)="toggleExpandDone()" aria-controls="doneCollapse" aria-expanded="false" data-bs-toggle="collapse"
      href="#doneCollapse">
      <h5 class="col-12">
        @if (expandDone) {
          <fa-icon [icon]="faAngleDown"></fa-icon>
        }
        @if (!expandDone) {
          <fa-icon [icon]="faAngleRight"></fa-icon>
        }
        {{ completedListTitle }}
      </h5>
    </a>
    <ul class="col-12 collapse list-group list-group-flush border-top" id="doneCollapse">
      @for (plannerEvent of completeEvents; track plannerEvent) {
        <li class="list-group-item">
          <app-list-item (itemToDelete)="onDelete($event)" (itemToEdit)="onEdit($event)"
          (itemToUpdate)="onRedo($event)" [plannerEvent]="plannerEvent"></app-list-item>
        </li>
      }
    </ul>
  </div>
}
@if (isLoading) {
  <div>
    <div class="spinner"></div>
  </div>
}
