<div class="p-3">
    <h1>🎄 Christmas {{year}} 🎄</h1>
    <ul [ngClass]="{'w-50': screenWidth >= 800, 'w-100': screenWidth < 800}">
        <li class="w-100 pt-2" *ngFor="let item of data; index as i">
            <a *ngIf="editing != i && item.itemLink" class="d-inline-block w-75 align-top" target="_blank" rel="noopener noreferrer" href="{{item.itemLink || 'https://jimandfanghzuo.com/christmas'}}">{{item.itemName}}</a>
            <span *ngIf="editing != i && !item.itemLink" class="d-inline-block w-75 align-top">{{item.itemName}}</span>
            <button *ngIf="isAuthenticated && editing != i" class="d-inline-block w-25 align-top" type="button" title="Edit" class="btn btn-outline-primary btn-sm float-end" (click)="editItem(i)"><fa-icon [icon]="faEdit"></fa-icon></button>
            <form *ngIf="editing == i">
                <div class="input-group">
                    <input [(ngModel)]="item.itemName" type="text" autocomplete="off" class="form-control form-control-sm" name="edit-item-name" placeholder="Item Name"/>
                </div>
                <div class="input-group">
                    <input [(ngModel)]="item.itemLink" type="text" autocomplete="off" class="form-control form-control-sm" name="edit-item-link" placeholder="Item Link"/>
                </div>
                <div class="input-group">
                    <button *ngIf="item.itemName" (click)="saveEditItem(item)" class="btn btn-outline-primary">Save</button>
                    <button (click)="cancelEdit()" class="btn btn-outline-primary">Cancel</button>
                </div>
            </form>
        </li>
        <li *ngIf="isAuthenticated">
            <form>
                <div class="input-group">
                    <input [(ngModel)]="newItem.itemName" type="text" autocomplete="off" class="form-control form-control-sm" name="new-item-name" placeholder="New Item Name"/>
                </div>
                <div class="input-group" *ngIf="newItem.itemName">
                    <input [(ngModel)]="newItem.itemLink" type="text" autocomplete="off" class="form-control form-control-sm" name="new-item-link" placeholder="Link"/>
                </div>
                <div class="input-group">
                    <button *ngIf="newItem.itemName" (click)="saveNewItem()" class="btn btn-outline-primary">Save</button>
                </div>
            </form>
        </li>
    </ul>
</div>
<div *ngIf="isLoading">
    <div class="spinner"></div>
</div>
