<form>
  <div class="container-fluid list-inline d-inline-block align-items-center text-center">
    <li class="list-inline-item">
      <h2 class="d-flex">Photos!</h2>
    </li>
    <li class="list-inline-item align-text-bottom">
      <input class="fileInput d-flex" (change)="onFileChange($event)" type="file" id="fileInput" name="fileInput"/>
      <label class="btn btn-outline-primary btn-sm d-flex" for="fileInput">{{files.length}} Files Selected</label>
    </li>
    <li class="list-inline-item align-text-bottom">
      <button [disabled]="files.length === 0" class="btn btn-outline-success btn-sm d-flex" (click)="upload()" type="submit">Upload</button>
    </li>
  </div>
</form>
