<div class="container-fluid">
  <h1 class="container-fluid d-flex justify-content-center">Jim and Fangzhuo's Pics!</h1>
  <app-navbar></app-navbar>
</div>
<div class="modal fade bd-example-modal-lg" id="zoomModal" tabindex="-1" role="dialog" aria-labelledby="zoomModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img *ngIf="!!selectedImage" class="w-100" [ngClass]="{
          'rotate0': selectedImage.rotation === 0 || selectedImage.rotation === 360,
          'rotate90': selectedImage.rotation === 90,
          'rotate180': selectedImage.rotation === 180,
          'rotate270': selectedImage.rotation === 270
        }"
        src="{{digitalOceanSpace + selectedImage.digitalOceanSpaceKey}}"/>
        <!-- <span class="rotate-icon-modal" (click)="rotate(selectedImage)"><fa-icon [icon]="faRotate"></fa-icon></span> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="authenticated() && !isLoading" class="container-fluid">
  <app-logout></app-logout>
  <div class="container-fluid justify-content-center align-content-center text-center">
    <span *ngFor="let errorMessage of errors.getErrors()" class="d-block alert alert-danger">{{errorMessage}}</span>
  </div>
  <div class="container-fluid d-flex">
    <div class="row d-flex">
      <app-upload></app-upload>
    </div>
  </div>
  <div class="container-fluid d-flex">
    <ul class="list-inline d-inline-block">
      <li class="list-inline-item custom-image p-1" *ngFor="let image of images">
        <img data-bs-toggle="modal" data-bs-target="#zoomModal" (click)="zoomImage(image)"
        [ngClass]="{
          'rotate0': image.rotation === 0 || image.rotation === 360,
          'rotate90': image.rotation === 90,
          'rotate180': image.rotation === 180,
          'rotate270': image.rotation === 270
        }"
        src="{{digitalOceanSpace + image.digitalOceanSpaceKey}}"/>
        <!-- <span class="rotate-icon" (click)="rotate(image)"><fa-icon [icon]="faRotate"></fa-icon></span> -->
      </li>
    </ul>
  </div>
</div>
<div *ngIf="authenticated() && isLoading">
  <div class="spinner"></div>
</div>
<div *ngIf="!authenticated()" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-10">
      <app-login [endpoint]="'photos'"></app-login>
    </div>
  </div>
</div>
