.custom-image {
    width: 200px;
    position: relative;
}

.custom-image:hover {
    cursor: pointer;
}

.custom-image>img {
    width: 100%;
    box-shadow: 0px 0px 4px -1px #444444;
    z-index: 0;
}


