<div class="container-fluid">
  <h1 class="container-fluid d-flex justify-content-center">Jim and Fangzhuo's Pics!</h1>
  <app-navbar></app-navbar>
</div>
<div class="modal fade bd-example-modal-lg" id="zoomModal" tabindex="-1" role="dialog" aria-labelledby="zoomModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img *ngIf="!!selectedImage" class="w-100" src="{{selectedImage}}"/>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isAuthenticated && !isLoading" class="container-fluid">
  <div class="container-fluid justify-content-center align-content-center text-center">
    <span *ngFor="let errorMessage of errors.getErrors()" class="d-block alert alert-danger">{{errorMessage}}</span>
  </div>
  <div class="container-fluid d-flex">
    <div class="row d-flex">
      <app-upload></app-upload>
    </div>
  </div>
  <div class="container-fluid d-flex">
    <ul class="list-inline d-inline-block">
      <li class="list-inline-item custom-image p-1" *ngFor="let image of base64Images">
        <img data-bs-toggle="modal" data-bs-target="#zoomModal" (click)="zoomImage(image)" src="{{image}}"/>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="isAuthenticated && isLoading">
  <div class="spinner"></div>
</div>
<div *ngIf="!isAuthenticated" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-10">
      <app-login [endpoint]="'photos'"></app-login>
    </div>
  </div>
</div>
