<form role="form" (submit)="login()">
  <label for="username" class="form-label">Username: </label>
  <div class="input-group">
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username"/>
  </div>
  <label for="password" class="form-label pt-2">Password: </label>
  <div class="input-group">
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
  </div>
  <div class="input-group pt-3">
    <button type="submit" class="btn btn-outline-primary">Login</button>
  </div>
</form>
