<form (submit)="login()" role="form">
    <label class="form-label" for="username">Username: </label>
    <div class="input-group">
        <input [(ngModel)]="credentials.username" class="form-control" id="username" name="username" type="text"/>
    </div>
    <label class="form-label pt-2" for="password">Password: </label>
    <div class="input-group">
        <input [(ngModel)]="credentials.password" class="form-control" id="password" name="password" type="password"/>
    </div>
    <div class="input-group pt-3">
        <button class="btn btn-outline-primary" type="submit">Login</button>
    </div>
</form>
