<div aria-hidden="true" aria-labelledby="descriptionModalLabel" class="modal fade" id="descriptionModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ eventTitle }}</h5>
      </div>
      <div class="modal-body">
        <p class="prewrapped">{{ descriptionText }}</p>
      </div>
    </div>
  </div>
</div>
@if (isAuthenticated) {
  <div class="table-responsive px-5 pt-2">
    @if (isLoading) {
      <div>
        <div class="spinner"></div>
      </div>
    }
    @if (!isLoading) {
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>Event ID</th>
            <th>Event Title</th>
            <th>Event Status</th>
            <th>Event Type</th>
            <th>Restore?</th>
          </tr>
        </thead>
        <tbody>
          @for (event of events; track event) {
            <tr (click)="updateDescriptionModal(event)"
              [ngClass]="{'table-danger': event.eventStatus === 'DELETED'}" data-bs-target="#descriptionModal" data-bs-toggle="modal">
              <td>{{ event.eventId }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.eventStatus }}</td>
              <td>{{ event.eventType }}</td>
              <td>
                @if (event.eventStatus === 'DELETED') {
                  <button (click)="restoreItem(event)" class="btn btn-outline-success btn-sm"
                    title="Restore" type="button">
                    <fa-icon [icon]="faTrashRestore"></fa-icon>
                  </button>
                }
                @if (event.eventStatus === 'DELETED') {
                  <button (click)="permanentlyDeleteItem(event)" class="btn btn-outline-danger btn-sm"
                    title="Permanently Delete" type="button">
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
}
@if (!isAuthenticated) {
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-4 col-10">
        <app-login [endpoint]="'admin'"></app-login>
      </div>
    </div>
  </div>
}
